@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

/* configuração padrao para o site todo */
body {
    border: goldenrod solid thin;
    background: url(../img/moroccan-flower.png);


}

/* configuração da scrollbar(barra de rolagem) */
body::-webkit-scrollbar {
    /* largura da scrollbar */
    width: 4px;

}

body::-webkit-scrollbar-track {
    /* cor de fundo da scrollbar */
    background: rgb(255, 255, 255);

}

body::-webkit-scrollbar-thumb {
    /* cor da scrollbar */
    background-color: rgb(0, 0, 0);
    /* arredondamento da scrollbar */
    border-radius: 20px;


}





/* classe padrão de alinhamento */
.site {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;


}




/*  cores de fundo do cabeçalho  */
.site {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;


}




/*  cores de fundo do cabeçalho  */
header {
    background-color: rgb(25, 25, 112);

}




/* barra de contato */
.barra-contato {
    background-color: rgb(43, 43, 145);

}

.barra-contato div {

    display: flex;
    justify-content: space-between;
}

.redeSociais {
    display: flex;

    margin-right: 5px;
}

.redeSociais li a img {
    width: 35px;
    height: 35px;
    background-size: cover;
    padding-bottom: 12%;
    padding-top: 18%;
}

.redeSociais li {
    margin-right: 5px;
}


.ctt {
    display: flex;
    color: rgb(231, 198, 198);
    padding-bottom: 1.5%;
    padding-top: 1.5%;
}

.ctt h3 {
    margin-right: 15px;
}




/* Menu */

.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu ul {
    display: flex;

}

.Menu ul li {
    padding: 10px 0;
    background: rgb(255, 0, 0) (179, 0, 98, 0.808);
    margin: 2px;
    border: 2px solid goldenrod;
    border-radius: 10px;

}

.Menu ul li:hover {
    background-color: rgb(182, 103, 0);

}



.Menu ul li a {
    text-decoration: none;
    color: rgb(228, 208, 170);
    padding: 13px;
}



.Menu h1 {
    background: url(../img/royal_crown_set-05\ .svg) no-repeat;
    align-self: auto;
    width: 170px;
    height: 100px;
    text-indent: -9999;
    margin-left: 10%;

}

/* Banner */
.banner {
    background: url(../img/dark600x260.jpg);
    width: 100%;
    border-top: goldenrod solid thin;
    border-bottom: goldenrod solid thin;
}


.textoBanner {
    font-size: 65px;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: bold;
    text-align: center;

}

.sloganBanner {
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}




/* seção de email */


.email {
    /* position: relative; */
    /* text-align: center; */
    padding: 20px;

}

.email h1 {
    color: #000000;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #161712; 
}

.email label {
    text-align: center;
    width: 100%;
    display: block;
    /* border-top: 1px solid #262626;     
    border-bottom: 1px solid #161712;  */
    padding: 10px 0 10px 0;
}

.email label span {
    display: block;
    color: #000000;
    font: size 15px;
    float: left;
    width: 40px;
    text-align: center;
}

.email .emailBase {
    padding: 10px 10px;
    width: 700px;
    border-radius: 10px;

}

.email .message {
    padding: 7px 7px;
    width: 700px;
     overflow: hidden; 
    height: 150px;
    border-radius: 10px;
    resize: none;
}



.buttonE {
    color:rgb(255, 255, 255);
    margin-left:  777px; 
    padding: 5px 7px;
    background: #CC0000;
    border: 5px;
    /* position: block; */
    width: 180px;
    height: 30px;
    border-radius: 10px;
}

.buttonW {
    color:rgb(0, 0, 0);
    margin-left:  777px; 
    margin-top: 10px;
    padding: 5px 7px;
    background: #5eff00;
    border: 5px;
   /*  position: block; */
    width: 180px;
    height: 30px;
    border-radius: 10px;
}

/* footer */

footer {
    border-top: goldenrod solid thin;
    background: rgb(43, 43, 145);

}

.rodape {
    display: flex;
    justify-content: space-between;
}

.esq img {
    padding-top: 40%;
    width: 170px;
    height: 100px;
    background-size: cover;
}

.centro ul li a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(228, 208, 170);

}

.centro ul {
    padding-top: 20%;
}

.centro ul li {
    padding: 7%;
    text-align: center;
}



.direita ul {
    position: relative;
    top: 20%;
    right: 50%;
}

.redeSociaisFooter li a img {
    width: 35px;
    height: 35px;
    background-size: cover;


}

.redeSociaisFooter li {
    padding: 9%;

}

.redeSociaisFooter {
    flex-direction: column;

}

@media not all and (max-width: 600px) {

    .abrirMenu,
    .fecharMenu {
        display: none;
    }
}

@media (max-width: 600px) {

    .Menu nav {
        background: rgb(25, 25, 112, 0.9);
        height: 100%;
        position: fixed;
        z-index: 1;
        margin: 0;
        top: 0;
        max-width: 400px;
        width: 60%;
        right: -366px;
        transition: right 0.5s ease-out;
    }


    .Menu ul li {
        padding: 20px;
        border-radius: 5px;
    }

    .menuAtivo .Menu nav {
        right: 0px;
    }
    .Menu ul {
        flex-direction: column;
    }

    .fecharMenu {
        background: url(../img/close.png);
        background-size: cover;
        padding: 25px;
        margin: 5%;
        border: 0;
        display: block;
    }

    .abrirMenu {
        background: url(../img/menu.png);
        background-size: cover;
        padding: 25px;
        border: 0;
        display: block;
        margin-right: 10%;
    }

    .barra-contato div {
        flex-direction: column;
        align-items: center;
        display: flex;

    }

    .ctt h3 {
        margin-bottom: 4%;
    }

    .redeSociais li a img {
        width: 43px;
        height: 43px;
    }

    .textoBanner {
        font-size: 320%;
    }

    .sloganBanner {
        font-size: 150%;
    }

    .email h1 {
        font-size: 150%;
    }

    .email label {
        width: 100%;
    }

    .email .emailBase {
        width: 95%;
    }

    .email .message {
        width: 98%;
    }

    .buttonE {
        margin-left: 0;
        padding: 0;
    }

    .buttonW {
        margin-left: 0;
        padding: 0;
    }

    /* Footer */

      .rodape {
        display: block;
    }

    .esq img {
        padding-top: 5%;
        display: flex;
        position: relative;
        margin: 0 auto;
    
    }

    .centro ul {
        padding-top: 2%;
    }

    .centro ul li {
        padding-top: 5%;
    }

    .direita ul {
        display: flex;
        flex-direction: inherit;
        position: relative;
        top: 20%;
        right: 0;
        padding-left: 24%;
    }

    .redeSociaisFooter li {
        padding: 5%;
    }

}

@media (max-width: 1024px) {

    .ctt {
        padding-left: 2.5%;
    }

    .redeSociais {
        margin-right: 1%;
    }

    .Menu h1 {
        margin-left: 20%;
    }

    .Menu nav {
        background: rgb(25, 25, 112, 0.9);
        height: 100%;
        position: fixed;
        z-index: 1;
        margin: 0;
        top: 0;
        max-width: 400px;
        width: 60%;
        right: -500px;
        transition: right 0.5s ease-out;
    }


    .Menu ul li {
        padding: 20px;
        border-radius: 5px;
    }

    .menuAtivo .Menu nav {
        right: 0px;
    }

    .Menu ul {
        flex-direction: column;
    }

    .fecharMenu {
        background: url(../img/close.png);
        background-size: cover;
        padding: 25px;
        margin: 5%;
        border: 0;
        display: block;
    }

    .abrirMenu {
        background: url(../img/menu.png);
        background-size: cover;
        padding: 25px;
        border: 0;
        display: block;
        margin-right: 10%;
    }

    .textoBanner {
        font-size: 320%;
    }

    .sloganBanner {
        font-size: 150%;
    }

    .email h1 {
        font-size: 150%;
    }

    .email label {
        width: 100%;
    }

    .email .emailBase {
        width: 95%;
    }

    .email .message {
        width: 98%;
    }

    .buttonE {
        margin-left: 0;
        padding: 0;
    }

    .buttonW {
        margin-left: 0;
        padding: 0;
    }

    .rodape {
        justify-content: space-around;
    }

    .esq img {
        width: 100%;
    }

    .centro {
        margin-right: 10%;
    }

    .centro ul li a {
        font-size: 1.2em;
    }

}